body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form {
  max-width: 500px;
  padding: 19px 29px 59px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form .form-heading,
.form .checkbox {
  margin-bottom: 10px;
}
.form input[type="text"],
.form input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

#scenario {
  display:block;
  font-size: 1.1em;
  margin-left: 2em;
  margin-bottom: 0.5em;
}

#next, #finish {
  float: right;
}

#previous {
  float: left;
}

#score {
  display:block;
  font-size: 30px;
  font-weight: bold;
  color: red;
  text-align: center;
}

th {
  overflow:hidden;
}

td {
  text-align: center;
}

blockquote {
  border-top: 5px solid #eee;
  padding: 5px;
  margin-top: 1em;
}
#attestationText {
  width: 100%;
}
#attestation {
  display:none;
}
